/*
#container {
    border: 1px solid black;
    padding: 12px;
    margin-top: 10px;
    display: flex;
}

.folder {
    background-color: antiquewhite;
    border-radius: 10px;
    
    height: 100px;
    width: 100px;
    padding: 20;
    margin: 5px;
}*/
#btnAddFolder {
    border-radius: 5px;
    background-color: azure;
    width: 200px;
    
    margin-left: 600px;
}

#divContainer {
    border: 1px solid black;
    display: flex;
    margin-top: 10px;
}

.folder {
    background-color: beige;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 10px;
}

.folder [action]{
    text-decoration: underline;
}

div[purpose=name]{
    margin-top: 50px;
}